*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: #0F1111;
    display: flex;
    
}

/* logo section */

.logo_section {
    height:50px;
    width:144px;
    margin-top: 3px;
    border:1px solid transparent;
    display: flex; 
    justify-content: center;
    align-items: end;
}

.logo{
    height:50px;
    width:144px;
    background-image: url("images/logo1.png");
    background-size: cover;
}

.border:hover {
    border: 1px solid white;
}


/* address*/

.address{
    color:#ffffff;
    height: 50px;
    width: 89px;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    
}

.add span{
    color: #cccccc;
    font-size: 12px;
}

.add_location{
    display: flex;
    align-items: center;
}

.add_location i{
    font-size: 20px;
}


/* Search section*/

.search{
    height: 38px;
    width: 650px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 10px 4px 9px 3px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.search:active {
    border: 2px solid rgb(243, 191, 23);
}

#all{
    height: 38px;
    width: 102px; 
    font-size: 14px;
    color: #0F1111;
    background-color:#cccccc;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    /* margin: 7px 0px 10px 0px; */
    outline:#ffffff;
     border: 1px solid transparent;
}

#all:active {
    border: 2px solid rgb(243, 191, 23);
}

.search_bar{
    height: 38px;
    width:80%;
    margin: 0px;
    padding: 0px;
    border-radius: 0%;
}

#input{
    height:34px;
    width: 99.30%;
    margin: 0px;
    padding: 0px;
    outline:#ffffff;
    font-size: 17px;
} 
#input:focus {
  outline: none;
} 

.search_icon{
    height: 38px;
    width: 45px;
    background-color: rgb(243, 191, 23);
    color: #0F1111;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 6PX;
    border-bottom-right-radius: 6PX;
    /* margin: 7px 0px 9px 0px; */
} 



/* FLAg INPUT */

.flag{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 50px;
    padding: 0px 1px 5px 7px;
    margin-top: 4px;
    /* margin: 0px 1px; */
}

.flag_us{
   margin: 0px 0px 0px 1px;
   color: #ffffff;
}


/* sign in */

.sign{
    color:#ffffff;
    height: 50px;
    width: 120px;
    margin: 5px 2px 5px 2px;

}

.sign_in{
    color: #cccccc;
    font-size: 12px;
    display: flex;
    justify-content:flex-start;
    padding-top: 10px;
    margin-left: 5px;
    
}

.sign_acc{
    width: 120px;
    margin-left: 5px;
    /* display: flex;
    align-items: center; */
}

.return{
    display: flex;
    justify-content:flex-start;
    color: #cccccc;
    font-size: 12px;
    padding-top: 10px; 
    
}


/* add to cart */

.add_to_cart{
    color:#ffffff;
    height: 50px;
    width: 89px;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
    display: flex;
    justify-content: center;
}

.cart_icon{
    padding-top: 10px;
    font-size: 30px;
}


/* next navbar */

.next_navbar{
    height: 34px;
    width: 100%;
    background-color: #23212d;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.elements{
    height:30px ;
    margin-left: 7px;
    margin-right: 7px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


/* hero section */

.hero{
    height: 500px;
    background-image:url("images/hero section.jpg");
    background-size:cover;
}


/* third_navbar */

